.partie_rouge{
    background-color: #EC1C24;
    
}

.gridimg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;    
}
.oneimg {
    grid-column: 1 ;
    grid-row: 1;
}
.twoing {
    grid-column: 2 ;
    grid-row: 1 ;
    
}



.image_PP{
    width:100%;
    border-radius: 2%;
    margin: 5px; 
}


.permier_defilement{
    display: flex;
}

.icone{
    background-color: #EC1C24;
    width: 90px;
    height: 91px;
        
}

.Boutton_incone{
    background-color: #EC1C24;
    width: 211px;
    height: 211px;
    border: 5px solid #FFFFFF;
    border-radius: 18px;
    opacity: 1;
    color: #FFFFFF;
    margin: 2%;

    
    

}
.Boutton_incone:hover{

    transform: translate(-10px, -10px);
    transition-duration: 0.2s;
    text-shadow: 0px 0px 20px white;
    box-shadow:10px 10px  black;
}

.icone2{
    margin-left: 10%;
    margin-right: 10%;
    
}
h3{
    font: normal normal 900 50px/35px Albert Sans;
}

fieldset{
    background-color: #F8DF00 ;
    border: 0px;
    text-align: center;
    
    font: normal normal normal 18px/22px Albert Sans;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
legend{
    text-align: left;
    font : italic normal bold 58px/213px Albert Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.email{
    border: solid 3px black;
    border-radius: 90px;
    margin-left: 40%;
    margin-right: 40%;
    text-align:left;
    padding-left: 20px;
    
}




.fleche_droite{
    float:right;
    margin-right: 30px;
}
.fleche_droite:hover{

    transform:  translate(10px, 0px);
    transition-duration: 0.2s;

}




.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    
}
.one {
    grid-column: 1 ;
    grid-row: 1;
}
.two {
    grid-column: 2 ;
    grid-row: 1 ;
}
.three {
    grid-column: 3;
    grid-row: 1;
}
.four {
    grid-column: 4;
    grid-row: 1;
}
.five {
    grid-column: 5;
    grid-row: 1;
}



@media screen and (max-width: 1300px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        
    }
    .one {
        grid-column: 1 ;
        grid-row: 1;
    }
    .two {
        grid-column: 2 ;
        grid-row: 1 ;
    }
    .three {
        grid-column: 3;
        grid-row: 1;
    }
    .four {
        grid-column: 1;
        grid-row: 2;
    }
    .five {
        grid-column: 2;
        grid-row: 2;
    }
    .email{

        margin-left: 10%;
        margin-right: 10%;
        
    }

}

@media screen and (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        
    }
    .one {
        grid-column: 1 ;
        grid-row: 1;
    }
    .two {
        grid-column: 2 ;
        grid-row: 1 ;
    }
    .three {
        grid-column: 1;
        grid-row: 2;
    }
    .four {
        grid-column: 2;
        grid-row: 2;
    }
    .five {
        grid-column: 1;
        grid-row: 3;
    }
    .Boutton_incone{
        width: 100px;
        height: 100px;
    }
    

    .icone{
        width: 40px;
        height: 41px;
            
    }
    

}